* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;
}

.header {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.header-title {
    font-size: 36px;
    font-weight: 900;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-evenly;
    gap: 25px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    width: 100%;
    flex: 1;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.hero-image {
    color: white;  
    text-align: center;
    line-height: 250px;
    background-color: grey;
    height: 100%;
    width: 500px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 350px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 480px;
}

.button {
    color: white;
    font-weight: 900;
    background-color: #3883f6;
    text-align: center;
    line-height: 30px;
    width: 120px;
    height: 30px;
    border-radius: 5px;;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;

    width: 100%;
    flex: 1;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.info-title {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.panels {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.illustration {
    border-color: #3882f6;
    width: 100px;
    height: 100px;
    background-color:#3882f6
}